@use "../partials/mixin" as *;

.mac-laptop {
	&__inner {
		@include displayFlex(unset, center);
		flex-direction: column;
	}
}

.mac-screen {
	background-color: black;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	padding: 20px;
	padding-bottom: 40px;

	&__inner {
		@include backgroundImgProperties;
		@include displayFlex(unset, unset);
		flex-direction: column;
		width: 1217px;
		height: 772px;
		background-image: url(../images/wallpaper.jpg);
		background-size: cover;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
	}
}

// For the laptop base styling
.mac-base {
	position: relative;
	width: 1380px;
	height: 50px;
	background-color: grey;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;

	&:before,
	&:after {
		position: absolute;
		content: "";
		bottom: -7px;
		width: 100px;
		height: 7px;
		background-color: grey;
		border-bottom-left-radius: 20px;
		border-bottom-right-radius: 20px;
	}

	&:before {
		left: 100px;
	}

	&:after {
		right: 100px;
	}
}
