// Icon fonts
@font-face {
	font-family: "fontello";
	src: url("../fonts/fontello.eot?26183824");
	src: url("../fonts/fontello.eot?26183824#iefix") format("embedded-opentype"), url("../fonts/fontello.woff?26183824") format("woff"),
		url("../fonts/fontello.ttf?26183824") format("truetype"), url("../fonts/fontello.svg?26183824#fontello") format("svg");
	font-weight: normal;
	font-style: normal;
}
