// Icon fonts
@font-face {
	font-family: "fontello";
	src: url("../fonts/fontello.eot?49863454");
	src: url("../fonts/fontello.eot?49863454#iefix") format("embedded-opentype"), url("../fonts/fontello.woff?49863454") format("woff"),
		url("../fonts/fontello.ttf?49863454") format("truetype"), url("../fonts/fontello.svg?49863454#fontello") format("svg");
	font-weight: normal;
	font-style: normal;
}
