// Icon fonts
@font-face {
	font-family: "fontello";
	src: url("../fonts/fontello.eot?12943385");
	src: url("../fonts/fontello.eot?12943385#iefix") format("embedded-opentype"), url("../fonts/fontello.woff?12943385") format("woff"),
		url("../fonts/fontello.ttf?12943385") format("truetype"), url("../fonts/fontello.svg?12943385#fontello") format("svg");
	font-weight: normal;
	font-style: normal;
}
